*{
    box-sizing: border-box;
    font-family: 'Montserrat';
    color: white;
}
*::selection{
    background: #fff;
    color: #A3D320;
}
html,body{
    height: 100%;
    perspective: 800px;
    width: 100%;
}

#nav{
    height: 140px;
    width: 100%;
    position: fixed;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    padding: 0 150px;
    z-index: 99;
}


#cursor{
    height: 15px;
    width: 15px;
    background:  #97C125 ;
    border-radius: 50%;
    position: fixed;
    z-index: 99;


}

#cursor-blur{
    height: 400px;
    width: 400px;
    background:  #b2f0062a ;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px );
    z-index: 9;
 


}
#nav img{
    height: 70% ;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1 ;
}

#main{

    position: relative;
    background: rgb(0, 0, 0, 0.37);
}
#page1{
    height: 100vh;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}
#page1 h1{
    font-size: 100px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "EAT.DRINK.PLAY";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #97C125;
    z-index: -1;

}
#page1 h2{
    font-size: 32px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-top: 1px;
}
#page1 p{
    font-size: 15px;
    font-weight: 400;
    width: 40%;
}
#page1 #arrow{
    height: 200px;
    width: 200px;
    background: transparent;
    border: 2px solid #A3D320;
    position: absolute;
    left: -2%;
    bottom: -2%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease 0.5;
}
#page1 #arrow i{
    font-size: 50px;
    font-weight: 100;
}

#page1 #arrow:hover{
    scale: 0.5;
    background: #A3D320;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 100;
}


#scroller{
    /* background: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}
#scroller::-webkit-scrollbar{
    display: none;
}

#scrlloer1{
    display: inline-block;
    white-space: nowrap;
    animation-name: scroll;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#scroller h4{
    display: inline-block;
    font-size: 100px;
    font-weight: 900;
    font-family: gilroy;
    margin-right: 10px;
    transition: all linear 0.3s;
    color: transparent;
    -webkit-text-stroke: 2px #97C125;

}
#scroller h4:hover{
    color: #97C125;
}

@keyframes scroll {
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#about{
    height: 40vh;
    width: 100%;
    /* background: red; */
    display: flex;
    padding: 0 50px ;
    align-items: center;
    position: relative;
    justify-content: space-around;

}
#about img {
    height: 200px;
    width: 200px;
    border-radius: 20px;
    object-fit: cover;
}
#about-us {
    width: 40%;
    text-align: center;
}
#about-us h3{
    font-size: 32px;
    font-weight:800;
    margin-bottom: 40px;

}

#about-us p{
    font-size: 15px;
    line-height: 20px;

}
#cards{
    /* background: red; */
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
    position: relative;
    z-index: 10;
}
.card{
    height: 90%;
    width: 22%;
    /* background: black; */
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    transition: all ease 0.6;

}
#card1{
  background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
#card2{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&ssl=1);
  }
#card3{
    background-image: url(https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-lessons.jpg?strip=all&lossy=1&sharp=1&ssl=1);
}
.overlay{
    height: 100%;
    width: 100%;
    background: #97C125 ;
    padding-top: 140px;
    text-align: center;
    margin-bottom: 50%;
    opacity: 0;
    transition: all ease 0.6;
    
  

}
.overlay h4{
    font-size: 32px;
    color: black;
    text-transform: uppercase;
    white-space: nowrap;
    flex-direction: column;
    margin-bottom: 90px;

    font-weight: 700;
}

.overlay p{
    color: black;
    font-size: 15px;
}
.card:hover .overlay{
    opacity: 1;
}
.card:hover{
    transform: rotate3d(-1, 1,0,20deg);
}
#green-div{
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: greenyellow;
    background:linear-gradient(#34A833 ,#A3D320);

}
#green-div h4{
    height: 45%;
    line-height: 33px;
    text-align: center;
    font-weight: 800;
    font-size: 24x;
    text-transform: uppercase;
    color: black;
}
#green-div img{
    height: 100%;
    object-fit: cover;
    width: 14%;
    
}
#page3{
    height: 100vh;
    width: 100%;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
#page3>p{

    font-size: 28px;
    font-weight: 500;
    width: 55%;
    text-align: center;
    line-height: 45px;
}
#page3 img{
    position: absolute;
    height: 60px;
}
#page3 #colon1{
    left: 15%;
    top: 25%;
}
#page3 #colon2{
    bottom: 30%;
    right: 15%;
}

#page4{
    height: 50vh;
    width: 100%;
    
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 70px;
    position: relative;
}
#elem{
     height: 70%;
     width: 28%;
     overflow: hidden;
     border-radius: 20px;
     position: relative;

}
#elem h2{
    height: 100%;
    width: 100%;
  background: #A3D320;
  color: #000;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  position: absolute;
  z-index: 10;
  transition: all ease 0.5s;

}

#elem h2:hover{
    color: #fff;
    background-color: transparent;
}
#elem img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#elem:hover img{
    scale: 1;
}
#page4 h1{
    font-size: 80px;
    position: absolute;
    top: -30%;
    font-weight: 900;
    color: #000;
    border: #fff;
    font-family: gilroy;
    -webkit-text-stroke: 2px #fff;
}
#footer{
    height: 40vh;
    width: 100%;
    background:linear-gradient(to left bottom, #34A833 ,#A3D320);
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 120px;
    padding: 0 100px;
}
#footer>img{
    position: absolute;
    left: 0;
    height: 100%;
    z-index: 0;
}

#f1 img{
    height: 100px;
}
#f, #f1,#f2 ,#f3{
    width: fit-content;
    position: relative;
    z-index: 2;
}
#f{
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}
#f2 h3{
    font-size: 25px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
    margin-bottom: 8px;
}
#f3 h3{
    font-size: 20px;
    white-space: nowrap;
    text-transform: uppercase;
    color: #000;
    font-weight: 800;
}
